# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e compramos e vendemos commodities:
- Soja, Milho, Trigo, Petróleo, etc.

Precisamos pegar na internet, de forma automática, a cotação de todas as commodites e ver se ela está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar como uma ação de compra para a equipe de operações.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=share_link

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [1]:
#!pip install selenium

In [2]:
from selenium import webdriver

navegador = webdriver.Chrome()
navegador.get("https://www.google.com")

In [3]:
import pandas as pd

tabela = pd.read_excel("commodities.xlsx")
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [4]:

for linha in tabela.index:
    produto = tabela.loc[linha,"Produto"]
    print(produto) 
    produto = produto.replace("ó", "o").replace("ã", "a").replace("á","a").replace("ç","c").replace("ú","u").replace("é","e")
    
    link = f"https://www.melhorcambio.com/{produto}-hoje"
    print(link)
    navegador.get(link)
       
    preco = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    preco = preco.replace(".", "").replace(",",".")
    print(preco) 
    tabela.loc[linha, "Preço Atual"] = float(preco)
    
print("Acabou")
display(tabela)

Milho
https://www.melhorcambio.com/Milho-hoje
85.37
Soja
https://www.melhorcambio.com/Soja-hoje
162.12
Boi
https://www.melhorcambio.com/Boi-hoje
278.90
Petróleo
https://www.melhorcambio.com/Petroleo-hoje
384.45
Algodão
https://www.melhorcambio.com/Algodao-hoje
491.68
Açúcar
https://www.melhorcambio.com/Acucar-hoje
136.88
Café
https://www.melhorcambio.com/Cafe-hoje
1128.17
Ouro
https://www.melhorcambio.com/Ouro-hoje
332.47
Trigo
https://www.melhorcambio.com/Trigo-hoje
1549.08
Tilápia
https://www.melhorcambio.com/Tilapia-hoje
9.05
Acabou

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        85.37      NaN
1      Soja       163.59       162.12      NaN
2       Boi       282.20       278.90      NaN
3  Petróleo       424.37       384.45      NaN
4   Algodão       497.76       491.68      NaN
5    Açúcar       136.23       136.88      NaN
6      Café      1092.87      1128.17      NaN
7      Ouro       321.77       332.47      NaN
8     Trigo      1549.11      1549.08      NaN
9   Tilápia         9.05         9.05      NaN

In [5]:
tabela["Comprar"] = tabela["Preço Atual"] < tabela["Preço Ideal"]
display(tabela)


tabela.to_excel("commodities_atualizado.xlsx", index=False)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        85.37    False
1      Soja       163.59       162.12     True
2       Boi       282.20       278.90     True
3  Petróleo       424.37       384.45     True
4   Algodão       497.76       491.68     True
5    Açúcar       136.23       136.88    False
6      Café      1092.87      1128.17    False
7      Ouro       321.77       332.47    False
8     Trigo      1549.11      1549.08     True
9   Tilápia         9.05         9.05    False